frontend/node_modules/
.venv/
__pycache__/
*.pyc
.env
db.sqlite3

# Keep folders tracked, ignore their runtime contents
media/*
!media/.gitkeep

staticfiles/*
!staticfiles/.gitkeep

apis/*
!apis/.gitkeep

database_backups/*
!database_backups/.gitkeep

additional_data_and_tools/*
!additional_data_and_tools/.gitkeep
!additional_data_and_tools/README.md
